<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/leertaak2/src/Threaded_Pool_Server/Measurements.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="Threaded_Pool_Server.Measurements"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="leertaak2"/>
</launchConfiguration>
